<app-default-layout>
    <div class="min-h-screen flex flex-col items-center">
        <div class="w-10/12 py-5">
            <app-vrp-test-form (cvrp)="handleVrpData($event)"></app-vrp-test-form>
        </div>
        <ng-container *ngIf="vrp != null">
            <div class="w-full text-center my-5">
                <h2 class="text-2xl font-semibold">
                  {{ getTotalOrders() }} Pedidos roteirizados em {{ vrp.routes.length }} Rotas de até
                  {{ vrp.maxRouteVolume }}L de volume em {{ (vrp.timeToSolveMs / 1000).toFixed(2) }} segundos
                </h2>
              </div>
            <app-map-vrp [vrp]="vrp"/>
        </ng-container>
    </div>
</app-default-layout>
